#db config file
#0 rmsk data/hg19.rmsk.counts.bed.gz
0 rmsk data/hg19.rmsk.counts.bed.gz
1 cpg data/hg19.CpG.bed.gz
2 clinvar data/clinvar_20140303.bed.gz
3 gwas data/gwascatalog.bed.gz
4 tfbs data/wgEncodeRegTfbsClusteredV2.cell_count.20130213.bed.gz
5 dnase data/stam.125cells.dnaseI.hg19.bed.gz
6 poly-sift data/hg19.polyphen.bed.gz
7 1kgmaf data/1kg.phase1.snp.bed.gz
8 gerp data/hg19.gerp.elements.bed.gz
9 ncrna data/hg19.ncrna_pgene.bed.gz
10 funseq data/hg19.funseq.nc_sensitive.bed.gz
11 cadd data/hg19.cadd_ph15.bed.gz
12 promoter data/gencode.v7.promoter.sort.bed.gz
13 hapmap data/hapmap_ceu.bed.gz
